{% extends 'base.html' %}
{% block content %}
<div>
    <h1 class="mb-3">Калькулятор</h1>
    {% if error != '' %}
    <div class="mb-3 alert alert-warning">
        {{ error }}
    </div>
    {% endif %}

    <form method="post" class="form border p-3 rounded mb-3">
        <div class="row">
            <label class="col-form-label col-1" for="num1">Число 1</label>
            <div class="col-11 mb-3">
                <input class="form-control" type="text" name="num1" id="num1" value="{{ request.form['num1'] }}">
            </div>
            <label class="col-form-label col-1" for="num2">Число 2</label>
            <div class="col-11 mb-3">
                <input class="form-control" type="text" name="num2" id="num2" value="{{ request.form['num2'] }}">
            </div>
            <label class="col-form-label col-1" for="operation">Операция</label>
            <div class="col-11 mb-3">
                <select name="operation" id="operation" class="form-select">
                    {% for o in operations %}
                    <option {% if request.form['operation']==o %}selected{% endif %} value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <input class="btn btn-primary" type="submit">
            </div>
        </div>
    </form>
</div>

<div class="mb-3">
    <h2>Результат: {{ result }} </h2>
</div>

{% endblock %}